
<div class="container col-6 text-center alert alert-success alert-dismissible fade show" role="alert">
    <p class="notice m-0"><%= notice %></p>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
